{% extends "registro/base.html" %}
{% block titulo %}Crear cuenta{% endblock %}
{% block cuerpo %}
<h1>Crear cuenta</h1>
<form action="{% url 'usuarios:register' %}" method="post">{% csrf_token %}
  <label>{{ form.username.label }}</label>
  <br />
  {{ form.username }}
  {% if form.username.errors %}
    <br />
    <b>Alert: </b>{{ form.username.errors}}
  {% endif %}
  <br />
  <br />
  <label>{{ form.first_name.label }}</label>
  <br />
  {{ form.first_name }}
  {% if form.first_name.errors %}
    <br />
    <b>Alert: </b>{{ form.first_name.errors}}
  {% endif %}
  <br />
  <br />
  <label>{{ form.last_name.label }}</label>
  <br />
  {{ form.last_name }}
  {% if form.last_name.errors %}
    <br />
    <b>Alert: </b>{{ form.last_name.errors}}
  {% endif %}
  <br />
  <br />
  <label>{{ form.email.label }}</label>
  <br />
  {{ form.email }}
  {% if form.email.errors %}
    <br />
    <b>Alert: </b>{{ form.email.errors}}
  {% endif %}
  <br />
  <br />
  <label>{{ form.password1.label }}</label>
  <br />
  {{ form.password1 }}
  {% if form.password1.errors %}
    <br />
    <b>Alert: </b>{{ form.password1.errors}}
  {% endif %}
  <br />
  <br />
  <label>{{ form.password2.label }}</label>
  <br />
  {{ form.password2 }}
  {% if form.password2.errors %}
    <br />
    <b>Alert: </b>{{ form.password2.errors}}
  {% endif %}
  <br />
  <br />
  <label>{{ form.is_active.label }}</label>
  {{ form.is_active }}
  {% if form.is_active.errors %}
    <br />
    <b>Alert: </b>{{ form.is_active.errors}}
  {% endif %}
  <br />
  <br />
  <label>{{ form.is_staff.label }}</label>
  {{ form.is_staff }}
  {% if form.is_staff.errors %}
    <br />
    <b>Alert: </b>{{ form.is_staff.errors}}
  {% endif %}
  <br />
  <br />
  <button class="btn btn-success" type="submit">Registrar cuenta</button>
</form>
<br />
<h4>¿Ya tienes cuenta de usuario?</h4> <a href="{% url 'usuarios:login' %}"><button class="btn btn-primary" type="submit">Iniciar sesión</button></a>
{% endblock %}